.Device__Desktop,.Device__Tablet,.Device__Mobile{
    opacity: 0;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .Device__Mobile{
        opacity:1 !important;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    .Device__Tablet{
        opacity:1 !important;
        }
}
@media only screen and (min-width:1200px){
    .Device__Desktop{
        opacity:1 !important;
        }
}
