@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{

    --border-0: #3590F3;
    --border-1:  #6A8EAE;
    --border-2: #62BFED ;
    --border-3:  #A594F9;
    --border-4: #C2BBF0;  

    --color-0: #000000;
    --color-1: #FFFFFF;
    --color-2: #00c5f7;
    --color-3: #bb8888;
    --color-4: #0bcae4;

     --back-0: #7371FC;
     --back-1: #3591f3bd;
     --back-2: #8FB8ED;
     --back-3: #D1FAFF;
     --back-4: #F1E3F3;

  }
}
body,html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IranYekan";
    direction: rtl;
}
#__next{
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-prev{
  z-index: 1;
    left: 20px !important;
}

.slick-next {
  right: 20px !important;
}


//menu artticle
 .close .accordionItemContent{
  height:0;
  transition:height 1s ease-out;
  transform: scaleY(0);
  float:left;
  display:block;
}
.open .accordionItemContent{
  margin: 0px 0px 10px 0px;
  display:block;
  box-sizing: border-box;
}

#parent-menu{
  overflow: overlay;
}
//

